  <%= render "shared/header" %>
  <div class='main'>
  
  <%# 画面上部の「パーソナル食」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      パーソナルフード
    </h2>
    <p class='service-explain'>
      専属管理栄養士が、あなたの食生活を徹底サポート！
    </p>
  </div>
  <%# /画面上部の「パーソナル食」帯部分  %>

  <%# 「パーソナル食とは」の説明部分 %>
  <div class="section-contents">
    <div class="section-contents-left">
      <h2 class="section-titile">パーソナル食とは</h2>
      <p class="section-explain">生活習慣病や健康予防・改善をしたいと思っているが、「正しい改善方法が分からない」・「継続できない」・「成果が得られない」など、食生活のお悩みを食のプロフェッショナルである管理栄養士が、一人ひとりに合わせてアドバイスするパーソナル栄養相談サービスです。また自分のレシピやおすすめ商品など投稿して同じ悩みがある人同士が繋がって情報交換ができます。</p>
    </div>
    <div class="section-contents-right">
      <%= image_tag "personal_food7.png", class:"right-pict" %>
    </div>
  </div>
  <%# /「パーソナル食とは」の説明部分 %>

  <%# サービスの特徴部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      サービスの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "icon1.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          いつでも食事相談可能
        </h3>
        <p class='reason-list-description'>
          簡単に質問・相談ができて専門的なアドバイスがもらえる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "icon6.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          情報交換ができ役立つ
        </h3>
        <p class='reason-list-description'>
          同じ悩みがある人と繋がれてモチベーションややる気アップ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "icon3.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          レシピなど見れて便利
        </h3>
        <p class='reason-list-description'>
          自分に合ったレシピやおすすめ商品がわかる！
        </p>
      </li>
    </ul>
  </div>
  <%# /サービスの特徴部分 %>

 <%# 新着投稿一覧 %>
  <div class='post-new-lists'>
    <h2 class='title'>
      新着投稿記事
    </h2>
    <ul class='post-inside'>

      <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='inside-img-content'>
          <%= image_tag post.image, class: "post-inside-img" if post.image.attached? %>
        </div>
        <div class='inside-info'>
          <h3 class='inside-title'>
            <%= post.title %>
          </h3>
        </div>
        <% end %>
      </li> 
      <% end %>

    </ul>
  </div>
  <%# /新着投稿一覧 %>

  <%# 下部広告部分 %>
  <div class='ad-footer-contents'>
    <p class='ad-footer-explain'>
      あなたの食生活を理想の変化にコミットするヘルスケアアプリ
    </p>
    <h2 class='ad-footer-title'>
      今すぐ無料ダウンロード！
    </h2>
    <div class='store-btn'>
      <%= link_to image_tag("app-store-icon.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play-icon.png", class:"google-btn"), "#"%>
    </div>
  </div>
  <%# /下部広告部分 %>

  </div>
  <%= link_to('#', class: 'purchase-btn') do %>
  <%= image_tag "consultation2.png" , size: '160x100' ,class: "purchase-btn-icon" %>
  <% end %>

  <%= render "shared/footer" %>