<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-bar-contents'>
    <%= link_to 'パーソナル食', root_path, class: "header-title" %>
      <% if user_signed_in? %>
        <div class="user_nav">
        <span><%= current_user.nickname %>
          <ul class="user__info">
            <li>
              <%= link_to "マイページ", "/users/#{current_user.id}" %>
              <%= link_to "食事相談", "#" %>
              <%= link_to "投稿一覧", posts_path, class: "posts-list" %>
            </li>
          </ul>
        </span>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        </div>
      <% end %>
    </ul>
  </div>
</header>